<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.customer.package.mapper.SubPackageMapper">

    <select id="findByParentPackageId" resultType="me.zhengjie.modules.customer.package.domain.SubPackage">
        SELECT sp.* FROM sub_package sp
        INNER JOIN parent_package_sub pps ON sp.id = pps.sub_package_id
        WHERE pps.parent_package_id = #{parentPackageId}
        ORDER BY sp.id ASC
    </select>

    <select id="countOrderBySubPackageId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM customer_order WHERE child_package_id = #{subPackageId}
    </select>

    <select id="countOrderByParentPackageId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM customer_order WHERE parent_package_id = #{parentPackageId}
    </select>
</mapper>
